html {
  background-image: url(../images/4seasons3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Arima', cursive;
  font-family: 'Courgette', cursive;
  color: whitesmoke;
}
h2,
h3,
h4 {
  text-align: center;
  font-family: 'Arima', cursive;
  color: whitesmoke;
}
p,
span {
  font-family: 'DM Sans', sans-serif;
  color: #08310d;
}
p {
  font-size: 16px;
}
span {
  font-size: 20px;
}
.text-centered {
  text-align: center;
}

.weather {
  display: inline-block;
  text-align: center;
  padding: 28px 40px;
  background: rgba(238, 210, 197, 0.6);
  border: 1px solid #8f140e;
  border-radius: 100px;
}
.main-temp {
  font-family: 'Arima', cursive;
  font-size: 64px;
  color: #8f140e;
}
.units {
  font-size: 18px;
  position: relative;
  top: -32px;
}
.forecast-block {
  background: #eed2c5;
}
#footer-text {
  color: whitesmoke;
}
