html {
  background-image: url(../images/4seasons3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Arima', cursive;
  font-family: 'Courgette', cursive;
  color: whitesmoke;
}
h2,
h3,
h4 {
  text-align: center;
  font-family: 'Arima', cursive;
  color: whitesmoke;
}
p {
  font-family: 'DM Sans', sans-serif;
}

.text-centered {
  text-align: center;
}

.weather {
  display: inline-flex;
  background: #eed2c5;
  border: 1px solid #8f140e;
  border-radius: 30px;
}
.forecast-block {
  background: #eed2c5;
}
#footer-text {
  color: whitesmoke;
}
