html {
  background-image: url(../images/4seasons3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: 'Arima', cursive;
  font-family: 'Courgette', cursive;
  color: whitesmoke;
  text-shadow: 1px 2px 1px #08310d;
}

h2,
h3 {
  text-align: center;
  font-family: 'Arima', cursive;
  color: whitesmoke;
  text-shadow: 1px 2px 1px #08310d;
}
p,
span {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #08310d;
}

.text-centered {
  text-align: center;
}

.weather {
  display: inline-block;
  text-align: center;
  line-height: 1.25;
  padding: 22px 36px;
  background: rgba(238, 210, 197, 0.6);
  border: 1px solid rgb(238, 210, 197);
  border-radius: 200px 200px 100px 100px;
}
.main-icon {
  position: relative;
  top: -16px;
}
.main-temp {
  font-family: 'Arima', cursive;
  font-size: 64px;
  color: #8f140e;
  text-shadow: 2px 4px 2px rgb(238, 210, 197);
}
.units {
  font-size: 18px;
  color: #8f140e;
  position: relative;
  top: -32px;
}

.forecast-block {
  display: inline-block;
  line-height: 0.75;
  padding: 4px 12px;
  background: rgba(238, 210, 197, 0.6);
  border: 1px solid rgb(238, 210, 197);
  border-radius: 10px;
}
.forecast-day {
  font-family: 'Arima', cursive;
  color: #8f140e;
  text-shadow: 1px 2px 1px rgb(238, 210, 197);
}
.forecast-tmp {
  font-size: 18px;
  color: #8f140e;
}
#footer-text {
  color: whitesmoke;
}
